<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>com.java.blog.servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <!--文章列表-->
    <servlet>
        <servlet-name>articleList</servlet-name>
        <servlet-class>com.java.blog.servlet.ArticleListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>articleList</servlet-name>
        <url-pattern>/articleList</url-pattern>
    </servlet-mapping>
    
    <!-- 文章详情 -->
    <servlet>
        <servlet-name>articleDetails</servlet-name>
        <servlet-class>com.java.blog.servlet.ArticleDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>articleDetails</servlet-name>
        <url-pattern>/articleDetails</url-pattern>
    </servlet-mapping>

    <!-- 登录、注册 -->
    <servlet>
        <servlet-name>user</servlet-name>
        <servlet-class>com.java.blog.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>user</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>

    <!-- 保存评论 -->
    <servlet>
        <servlet-name>saveComment</servlet-name>
        <servlet-class>com.java.blog.servlet.CommentSaveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>saveComment</servlet-name>
        <url-pattern>/saveComment</url-pattern>
    </servlet-mapping>

    <!--过滤器-->
    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>com.java.filters.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>