<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="https://unpkg.com/nprogress@0.2.0/nprogress.css">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_409173_5hmwp8ra99e5qaor.css">
    <link rel="stylesheet" href="../../assets/css/articleDetails.css">
    <script type="text/javascript" src="../../assets/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../../assets/js/axios.js"></script>
    <script type="text/javascript" src="../../assets/js/articleDetails.js"></script>
</head>

<body>
    <div class="content">
        <div class="new_blog">
            
        </div>
        <div class="list_log">
            
            <div class="list_comment">
                <div class="first_comment">
                    <div class="user_logo"><img src="../../assets/img/logo.jpg" alt="" class="img_comment"></div>
                    <div class="comment_info">
                        <div class="comment_name">
                            <span class="comment_color">谭业涛</span>
                            <span>回复</span>
                            <span class="comment_color">谭业涛</span>
                            <p>
                                111111111111111111111111111111111111111111111111111111111111111111111111111111
                            </p>
                        </div>
                        <div class="comment_time">
                            <label for="">12:20 </label>  &nbsp;
                            <span data-id="1" class="comment_del iconfont icon-delete"></span>&nbsp;&nbsp;
                            <span class="comment_cre iconfont icon-edit"></span>
                        </div>

                        
                        <div class="first_comment second_comment">
                                <div class="user_logo"><img src="../../assets/img/logo.jpg" alt="" class="img_comment"></div>
                                <div class="comment_info">
                                    <div class="comment_name">
                                        <span class="comment_color">谭业涛</span>
                                        <span>回复</span>
                                        <span class="comment_color">谭业涛</span>
                                        <p>
                                            111111111111111111111111111111111111111111111111111111111111111111111111111111
                                        </p>
                                    </div>
                                    <div class="comment_time">
                                        <label for="">12:20 </label>  &nbsp;
                                        <span data-id="1" class="comment_del iconfont icon-delete"></span>&nbsp;&nbsp;
                                        <span class="comment_cre iconfont icon-edit"></span>
                                    </div>
                                    <div class="div_comment">
                                        <textarea class="new_comment">回复：</textarea>
                                        <div class="send_div"><button class="send">发表</button></div>
                                    </div>
                                </div>
                            </div>
                        



                      
                    </div>
                </div>
            </div>


                <div class="div_comment">
                    <textarea class="new_comment">回复：</textarea>
                    <div class="send_div"><button class="send">发表</button></div>
                </div>

        </div>
    </div>
</body>